<div id="id_appointSatis" class="w3-modal" [ngClass]="{'w3-show': show}">
<div class="w3-modal-content w3-animate-zoom w3-round-large w3-padding-large w3-card-4 w3-white">
    <div class="w3-container  w3-border-bottom w3-text-gray ">
        <span (click)="onClose()" class="w3-right w3-xlarge w3-closebtn w3-padding-top"><i class="fa fa-remove"></i></span>
        <div class="w3-left w3-cyan w3-round-large w3-margin-top w3-margin-right w3-text-white"><i class="fa fa-star-o w3-xlarge w3-padding-small"></i></div>
        <h2>{{'APPOINTMENTS.LABELS.SurveyTitle' | translate}}</h2>
    </div>
    <div class="w3-panel">
        Questions 1
        <br/> Questions 2
        <br/> Questions 3
        <br/> Questions 4
        <br/> Questions 5
        <br/> Questions 6
        <br/>
    </div>
</div>
</div>