<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="text-center w3-text-dark-blue">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{'ACTIVATION.TITLE' | translate}}</h2>
        </div>
        <div class="modal-body" [style.display]="!isTimeOut ? 'block' : 'none'">
            <!--[hidden]="isTimeOut"-->
            <h5 class="text-center">
                {{'ACTIVATION.HEADER' | translate}} <br> {{'ACTIVATION.MOBMESSAGE' | translate}}
            </h5>
            <div class="form-group">
                <div>
                    <div class="alert alert-warning w3-pale-yellow w3-col" role="alert">
                        {{'ACTIVATION.ACTIVATIONCODE' | translate}}<strong> {{remainingTime}} {{'ACTIVATION.TIME' | translate}} </strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" type="number" class="form-control input-lg w3-animate-input" placeholder=" {{'ACTIVATION.Placeholder' | translate}}" (keyup.enter)="Activate()"
                    [(ngModel)]="user.ActivationCode" autofocus />
            </div>
            <div class="w3-container w3-padding alert alert-danger" [style.display]="!isValid ? 'block' : 'none'">
                <p>{{'ACTIVATION.Error' | translate}}</p>
            </div>
            <div class="form-group">
                <button type="button" class="w3-btn-block w3-blue w3-text-white btn-lg btn-block" (click)="Activate()">{{'ACTIVATION.BUTTON' | translate}}</button>
            </div>
        </div>
        <div class="modal-body" [style.display]="isTimeOut ? 'block' : 'none'">
            <!-- [hidden]="!isTimeOut" -->
            <div class="alert alert-danger">
                <strong>Opps..</strong> {{'ACTIVATION.CODEEXPIRE' | translate}} <a class="alert-link" [routerLink]="['/Login']">{{'LOGIN.BUTTON' | translate}}</a>                {{'ACTIVATION.CODEEXPIRE2' | translate}}
            </div>
        </div>
    </div>
</div>