<div class="w3-container w3-text-gray w3-padding-small w3-round-large w3-card-4 content-boxes">
    <div class="w3-left w3-padding w3-margin w3-border w3-border-gray w3-circle w3-text-light-gray">
        <i class="flaticon-stethoscope-1 w3-xxlarge"></i>
    </div>
    <div class=" w3-margin">
        <h5>{{'Diagnosis.LABELS.Item' | translate}} {{diagnosis?.ICD_Desc }}<br /></h5>
    </div>
    <hr />
    <!--<div class="w3-right w3-padding-right w3-margin-right w3-small w3-text-blue"><a href="#">
        <i class="fa fa-print w3-medium"></i> Print</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-trash-o  w3-medium"></i> Cancel</a>
    </div>-->
    <div class="w3-padding-bottom w3-margin-bottom">

        <table class=" w3-left w3-padding-left w3-margin-left w3-table w3-text-gray ">
            <tr>
                <td class="w3-text-cyan title-td">{{'Diagnosis.LABELS.Doctor' | translate}}</td>
                <td>{{'Diagnosis.COLUMNS.Doctor' | translate:{Doctor_EN:diagnosis?.Doctor, Doctor_AR:diagnosis?.Doctor_ar } }}</td>
            </tr>
            <tr>
                <td class="w3-text-cyan title-td">{{'Diagnosis.LABELS.Diagnosis' | translate}}</td>
                <td>{{diagnosis?.ICD_Desc}}</td>
            </tr>
        </table>
    </div>
</div>